@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

body {
    margin:0;
    font-family: 'Balsamiq Sans', cursive;
}

/***************
HEADER & FOOTER 
****************/

.header,
.footer {
    width: 100%;
    background-color: white;
}

.header-container{
    width: 90%;
    margin: 0px auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header-logo {
    width: 20%;
    max-height: 100px;
}

.header-title{
    width: 60%;
    text-align: center;
}

.header-carrito {
    width: 10%;
    max-height: 100px;
}
.footer {
    border-top: 1px solid black;
}
.footer-container {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0;

    text-align: center;
    font-weight: bold;
}

.carrito{
    color:black;
    height: 100px;
} 

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 120px;    /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 120px;             Footer height */ 
}


/**********
LOGIN FORM
***********/

.form-login {
    width: 90%;
    margin: 20px auto;
}

.form-login-title  {
    width: 100%;
    text-align: start;
}

/**********
REGISTRO FORM
***********/

.form-registro {
    width: 90%;
    margin: 20px auto;
}

/******
CARRITO
*******/

.carrito-tabla{
    text-align: center;
}

.carrito-table {
    width: 90%;
    margin: 20px auto;
}

/******
NAV BAR
*******/
.salir-btn{
    background-color:white;
    border: 1px solid black;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -o-border-radius: 7pt;
    
    background-color: #FFFFFF;

    text-align: center;
    padding: 4px 10px;
}

/******
  HOME
*******/

.home-title{
    text-align: center;
    margin-top: 20px;
}

.home-subtitle{
    text-align: center;
}

.categorias-btn-container{
    width: 100%;
}
.categorias-btn-container{
    text-align: center;
}

.categorias-btn{
    margin: 10px;
    background-color:white;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -o-border-radius: 7pt;
    
    background-color: #FFFFFF;

    text-align: center;
    padding: 4px 10px;
}

/*******
PRODUCTO
********/

.producto-card{
    border: solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.producto-img{
    height: 200px;
    width: 80%;
    margin: 20px auto 0;
}

.producto-info{
    text-align: center;
}

.card-btn{
    background-color:white;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -o-border-radius: 7pt;
    
    text-align: center;
    padding: 4px 10px;
}
.card-btn-link {
    color: black;
}

/****************
DETALLE PRODUCTO
*****************/

.detalle-prod-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}
@media (min-width: 576px) {
    .detalle-prod-container{
        flex-direction: row;
    }
    .detalle-prod-img{
        width: 40%;
    }
    .detalle-prod-info{
        width: 60%;
        margin: 20px
    }
    .detalle-prod-btn-carrito{
        margin-left: 20px;
    }
}

.detalle-prod-input{
    width: 50px;
}
.detalle-prod-btn{
    background-color:white;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -o-border-radius: 7pt;
    
    text-align: center;
    padding: 4px 10px;
}

/******
CARRITO
*******/
.carrito-btn{
    background-color:white;
    border: 1px solid black;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -o-border-radius: 7pt;
    
    text-align: center;
    padding: 4px 10px;
}

/******
COMPRA
*******/
.compra{
    text-align: center;
}

/************
PAYMENT FORM
*************/

.payment-form-input{
    text-align: center;
}

.payment-form-btn{
    background-color:white;
    border: 1px solid black;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -o-border-radius: 7pt;
    
    text-align: center;
    padding: 4px 10px;

    margin-bottom: 20px;
}


/****************
COMPRA FINALIZADA
*****************/

.compra-finalizada-mensaje{
    text-align: center;
}